---
---

$color-background-header: #333333;
$color-background-footer: #333333;
$color-background-main: #eeeeee;
$color-background-content: #ffffff;
$color-background-nav: #ffffff;
$color-border: #cccccc;
$color-text: #000000;
$color-text-secondary: #777777;
$color-text-header: #ffffff;
$color-text-footer: #ffffff;
$color-blue: #3081b0;

$max-content-width: 1200px;

body {
    margin: 0;
    background: $color-background-main;
    color: $color-text;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    line-height: 1.5;
    font-size: large;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 1.33;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 30px;
    margin-bottom: -5px;
}

a {
    color: $color-blue;
    text-decoration: none;
}
a:visited {
    color: $color-blue;
}
a:hover {
    color: #338abd;
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

p {
    code {
        background: $color-background-main;
        border-radius: 3px;
        padding: 2px 3px;
    }
}

blockquote {
    background: $color-background-main;
    border: 1px solid $color-border;
    border-radius: 3px;
    margin: 0;
    padding: 0px 25px;
    font-style: italic;
    font-weight: 200;
    font-size: larger;
    p::before {
        content: "\"";
    }
    p::after {
        content: "\"";
    }
}

.page-title {
    margin: 0 30px 25px 30px;
}

.title-image {
    width: 100%;
    height: auto;
}

.article-meta {
    display: flex;
    margin-top: 20px;
}

.article-meta-text {
    color: $color-text-secondary;
    font-weight: normal;
    font-size: medium;
    margin: 0;
}

.author-picture {
    border-radius: 50%;
    align-self: center;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 3px;
    vertical-align: text-bottom;
}

.post-content {
    
    img {
        max-width: 100%;
        height: auto;
    }

    .img-align-right {
        float: right;
        margin-left: 12px;
        width: auto;
    }
    
    .img-align-left {
        float: left;
        margin-right: 12px;
        width: auto;
    }
}

nav {
    .nav-level-1 {
        margin-top: 12px;
    }

    .nav-level-2 {
        margin-top: 5px;
    }
}


/**** High-level layout *******************************************/

main {
    max-width: $max-content-width;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.content-area {
    margin: 10px 10px 30px 10px;
    flex: 1;
}

.content-container {
    background: $color-background-content;
    border: 1px solid $color-border;
    margin-bottom: 30px;
    padding: 30px;
}

.background-text {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar-area {
    padding: 0 0 30px 30px;
    margin: 10px;
    width: 200px;
}

.sidebar-section {
    margin-bottom: 70px;

    h2 {
        margin-top: 22px;
    }

    .sidebar-heading-small {
        font-size: 22px;
    }
}


/**** Mobile *************************************************/

@media all and (max-width: 800px) {
    main {
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
    }

    .content-area {
      flex: 1 1 100%;
      margin-bottom: 0;
    }
    
    .content-container {
        padding: 15px;
    }
    
    .sidebar-area {
      flex: 1 1 100%;
      padding: 15px;
      margin-bottom: 0;
    }

    .page-title {
        margin: 0 15px 25px 15px;
    }

    .background-text {
        padding: 0 15px;
    }
}

@import "header";
@import "footer";
@import "article-teaser";
@import "code-highlighting";
