{% if include.post %}

<p class="article-meta">
    
    <time class="dt-published" datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ include.post.date | date: "%b %-d, %Y" }}
    </time>
    
    {%- if include.post.author -%}
    •
    <span itemscope itemprop="author" itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
            {{ include.post.author }}
        </span>
    </span>
    
    {%- endif -%}

</p>

{% endif %}