{% if include.post %}

<a href="{{ include.post.url | relative_url }}" style="text-decoration: none;">
    <div>
        {% if include.post.image %}
            {%- assign image_path = site.url | append: include.post.image -%}
            {%- include title-image.html image_path=image_path small=include.small -%}
        {% endif %}

        <h3>{{ include.post.title | escape }}</h3>
        {%- include article-meta-text.html post=include.post-%}
        
        {% unless include.small == true %}
        <p class="excerpt">
            {{ include.post.excerpt | strip_html | truncatewords: 50 }}
        </p>
        {% endunless %}
    </div>
</a>

{% endif %}
