{% if include.post %}

<a href="{{ include.post.url | relative_url }}" style="text-decoration: none;">
    <div>
        {%- include title-image.html image_path=include.post.image small=include.small -%}

        <h3>{{ include.post.title | escape }}</h3>
        {%- include article-meta-text.html post=include.post-%}
        
        {% unless include.small == true %}
        <p class="excerpt">
            {{ include.post.excerpt | strip_html | truncatewords: 50 }}
        </p>
        {% endunless %}
    </div>
</a>

{% endif %}
