{% if include.post %}

<a href="{{ include.post.url | relative_url }}" style="text-decoration: none;">
    <div>
        {% if include.post.title_image %}
        <img src="{{include.post.title_image}}" alt="hero image {{ include.post.title | escape }}" class="title-image">
        {% endif %}
        <h3>{{ include.post.title | escape }}</h3>
        {%- include article-meta.html post=include.post-%}
        
        {% if include.show-excerpt %}
        <p class="excerpt">
            {{ include.post.excerpt | strip_html | truncatewords: 50 }}
        </p>
        {% endif %}
    </div>
</a>

{% endif %}
