<footer>
  <div class="footer-sections">
    <div class="footer-section">
      <h3>Lorem Ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illo porro harum fuga cumque similique ab aliquid,
        aperiam quia natus pariatur nulla error? Deserunt qui
        amet velit sequi voluptatem sunt consequatur!
      </p>
    </div>
    <div class="footer-section">
      <h3>
        Open Source
        <svg class="svg-icon" style="fill: #fff;">
          <use xlink:href="{{ '/images/social-icons.svg#github' | relative_url }}"></use>
        </svg>
      </h3>
      <p>
        The Team Coder is an Open Source project. Feel free to browse the code on
        <a href="https://github.com/team-coder/team-coder.com" target="_blank">GitHub</a>
        or even create a pull request or an issue!
      </p>
    </div>
    <div class="footer-section">
      <h3>Lorem Ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illo porro harum fuga cumque similique ab aliquid,
        aperiam quia natus pariatur nulla error? Deserunt qui
        amet velit sequi voluptatem sunt consequatur!
      </p>
    </div>
  </div>
  <p class="footer-end-note">
    The Team Coder 2.0 - This page has been hand-crafted by Robert Ecker.
  </p>
</footer>