<footer>
  <div class="footer-sections">
    <div class="footer-section">
      <h3>
        Subscribe
        <svg class="svg-icon" style="fill: #fff; padding-bottom: 4px">
          <use xlink:href="{{ site.url | append: '/images/social-icons.svg#rss' }}"></use>
        </svg>
      </h3>
      <p>
        There is an RSS feed for this blog!
        <a href="{{ '/feed.xml' | relative_url }}">Subscribe</a>
        if you don't want to miss new articles!
      </p>
    </div>
    <div class="footer-section">
      <h3>
        Open Source
        <svg class="svg-icon" style="fill: #fff;">
          <use xlink:href="{{ site.url | append: '/images/social-icons.svg#github' }}"></use>
        </svg>
      </h3>
      <p>
        The Team Coder is an Open Source project. Feel free to browse the code on
        <a href="https://github.com/team-coder/team-coder.com" target="_blank">GitHub</a>
        or even create a pull request or an issue!
      </p>
    </div>
    <div class="footer-section">
      <h3>
        Version 2.0
        <img src="{{ site.url }}/images/logo.svg" width="16px" height="16px" class="svg-icon" style="padding-bottom: 4px">
      </h3>
      <p>
        The Team Coder was started in 2015. This new version was completely rebuilt in 2020 and it still contains the original content.
      </p>
    </div>
  </div>
  <p class="footer-end-note">
    The Team Coder 2.0 - This page has been hand-crafted by Robert Ecker.
  </p>
</footer>