<footer>
  <div class="footer-sections">
    <p class="footer-section">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illo porro harum fuga cumque similique ab aliquid,
      aperiam quia natus pariatur nulla error? Deserunt qui
      amet velit sequi voluptatem sunt consequatur!
    </p>
    <p class="footer-section">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illo porro harum fuga cumque similique ab aliquid,
      aperiam quia natus pariatur nulla error? Deserunt qui
      amet velit sequi voluptatem sunt consequatur!
    </p>
    <p class="footer-section">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illo porro harum fuga cumque similique ab aliquid,
      aperiam quia natus pariatur nulla error? Deserunt qui
      amet velit sequi voluptatem sunt consequatur!
    </p>
  </div>
  <p class="footer-end-note">
    The Team Coder 2.0 - This page has been hand-crafted by Robert Ecker.
  </p>
</footer>