<aside class="sidebar-area">
    {% if page.author %}
        {% assign posts_by_author = site.posts | where: "author", page.author %}
        {% assign other_posts_by_author = posts_by_author | where_exp:"post", "post.id != page.id" %}
        {% if other_posts_by_author.size > 0 %}
            <section class="sidebar-section">
                <h2>More posts by {{ page.author }}</h2>
                {% for post in other_posts_by_author %}
                    <div class="article-teaser-small">
                        {% include article-teaser.html post=post %}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endif %}
</aside>
