<aside class="sidebar-area">
    <section class="sidebar-section">
        <h2>Navigation</h2>
        <nav>
            <ul>
                <li class="nav-level-1">
                    <a href="/">All Articles</a>
                </li>
                <li class="nav-level-1">
                    Articles by Category
                </li>
                <ul>
                    <li class="nav-level-2">
                        <a href="/category/dev">Software Development</a>
                    </li>
                    <li class="nav-level-2">
                        <a href="/category/leadership">Leadership</a>
                    </li>
                    <li class="nav-level-2">
                        <a href="/category/misc">Random Topics</a>
                    </li>
                </ul>
                <li class="nav-level-1">
                    Meta
                </li>
                <ul>
                    <li class="nav-level-2">
                        <a href="/about">About this Blog</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </section>

    <section class="sidebar-section">
        {% if page.layout == "post" %}
            <h2 class="sidebar-heading-small">Related Articles</h2>
            {% assign firstCategory = page.categories | first %}
            {% assign relatedCount = 0 %}
            {% for relatedArticle in site.categories[firstCategory] %}
                {% unless page.title == relatedArticle.title %}
                    {% assign relatedCount = relatedCount | plus: 1 %}
                    <div class="article-teaser-small">
                        {% include article-teaser.html post=relatedArticle small=true %}
                    </div>
                {% endunless %}
            {% endfor %}
        {% endif %}
    </section>
</aside>