<!doctype html>
<html lang="en">

{%- include head.html -%}

<body>
    
    {%- include header.html -%}

    <main>
        <div class="content-container">
            <section>
                {{ content }}
            </section>
        </div>

        <div class="sidebar-container">
            <img src="/assets/images/robert-ecker.jpg" alt="a picture of Robert Ecker" class="author-picture">
            <p class="author-name">Robert Ecker</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Illo porro harum fuga cumque similique ab aliquid,
            aperiam quia natus pariatur nulla error? Deserunt qui
            amet velit sequi voluptatem sunt consequatur!
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>