---
layout: default
---

<div class="content-area">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
  <a href="{{ post.url | relative_url }}" style="text-decoration: none;">
    <article class="content-container">
      {% if post.feature_image %}
      <img src="{{post.feature_image}}" alt="hero image {{ post.title | escape }}" class="title-image">
      {% endif %}

      <div class="post-header">
        <h2 class="content-teaser-title">{{ post.title | escape }}</h2>
        {%- include article-meta.html post=post-%}
        <!-- {{ post.excerpt }} -->
      </div>
    </article>
  </a>
  {%- endfor -%}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>