---
layout: default
---

<div class="content-area">
  <article class="content-container" itemscope itemtype="http://schema.org/BlogPosting">

    {% if page.image %}
    <img src="{{page.image}}" alt="hero image {{ page.title | escape }}" class="title-image">
    {% endif %}

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    
    {%- include article-meta.html page=page-%}

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  <aside class="background-text">
    <h2>Next Steps</h2>
    <ul>
      <li>If you like this article
        <a class="twitter-share-button" href="#" onclick="javascript:window.open('https://twitter.com/share?url=' + window.location.href + '&text={{ page.title | escape }}' + encodeURI(' by @teamcoder_'), 'Sharing'); return false;">
          share it on Twitter
          <svg class="svg-icon"><use xlink:href="{{ '/images/social-icons.svg#twitter' | relative_url }}"></use></svg>
        </a>
      </li>
      <li>
        If you have comments or questions
        <a href="https://twitter.com/teamcoder_" target="_blank">
          contact me on Twitter
          <svg class="svg-icon"><use xlink:href="{{ '/images/social-icons.svg#twitter' | relative_url }}"></use></svg>
        </a>
      </li>
      <li>
        If you found a typo
        <a href="https://github.com/team-coder/team-coder.com" target="_blank">
          create a pull request on GitHub
          <svg class="svg-icon"><use xlink:href="{{ '/images/social-icons.svg#github' | relative_url }}"></use></svg>
        </a>
      </li>
    </ul>
  </aside>

</div>
